*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    background-color:rgb(245, 18, 63);
}

input{
    margin: 30px;
    height: 35px;
    width: 430px;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    text-align: center;
    box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
}

button{
    height: 35px;
    width: 95px;
    font-size: 14px;
    color:rgb(37, 37, 37);
    border-radius: 10px;;
    border: none;
    /* font-weight: 600; */
    /* font-size: 1.5rem; */
    background-color: whitesmoke; 
    box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
}

div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    height: 200px;
    width: 600px;
    background-color: whitesmoke;
    margin: 15px auto auto;
    box-shadow: 6px 10px 19px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 6px 10px 19px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 10px 19px 0px rgba(0,0,0,0.75);
}

/* #img-pizza{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
} */
img{
    display: flex;
    width: 40%;
    height: 100%;
}
h2{
    text-align: center;
    height: auto;
    text-shadow: 4px 4px 6px rgba(0,0,0,0.6);
}

p {
    text-align: center;
    width: 40%;
    text-shadow: 4px 4px 6px rgba(0,0,0,0.6);
}


